.related-products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 20px 0;
}

@media (max-width: 768px) {
  .related-products {
    gap: 20px;
    padding: 10px 0;
  }
}
