.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
}
.navbar-logo {
    height: 60px; 
}

.navbar-logout {
    width: 100px;
    height: 40px;
    outline: none;
    border: 2px solid white;
    border-radius: 75px;
    font-size: 20px;
    font-family: 'poppins';
    background-color: black;
    color: white;
    font-weight: 500;
}

.navbar-logout:hover {
    background-color: rgb(84, 84, 84);
    border:none;
}

@media (max-width: 1024px){
    .navbar-logout{
        width: 80px;
        height:35px;
        font-size: 14px;
    }
}
  